<center><h3>Blocipedia: Social, Markdown Wikis</h3></center>

<div class="sign-up">
  <center class="define"><p>Create and share Markdown Wikis</p></center>
  <center><button>Sign Up</button></center>
</div>

<div class="plans">
  <ul class="free-pln">
    <p>Create as many public <br> Wikis as you want!</p>
    <center><button></button></center>
    <center><p>Free Plan</p></center>
  </ul>
  <ul class="prm-pln">
    <p>Create private wikis!</p>
    <center><button></button><center>
    <center><p>Premium Plan</p></center>
  </ul>
</div>
