.sign-up {
  border-style: double;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  padding: 40px;
}

.define {
  padding-bottom: 50px;
}

.free-pln {
  float: left;
  margin-left: 400px;
  margin-top: 80px;
}

.prm-pln {
  float: right;
  margin-right: 400px;
  margin-top: 80px;
}
